/*********************Horloge Analogique***********************/

.test{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
}
#clock{
    height: 650px;
    width: 650px;
    position: absolute;
    background-color:rgb(206, 199, 199);
    border-radius: 350px;
    border: 10px solid #333;
    transform-origin: bottom center;
    margin-left: 53em;
    background-image: url(pictures/images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(.6);
    /* filter: brightness(1.2); */
}

.title{
    text-align: center;
}

.numbers{
    position: absolute;

}
.centerButton{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    background-image: linear-gradient(to right, whitesmoke, #889091);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.clockNumbers{
    color: whitesmoke;
    position: absolute;
    /* font-weight: bold; */
    top: 50%;
    left: 50% 
}

.numbers{
    font-weight: bolder;
}


#hours, #minutes, #seconds{
    position: absolute;
    left: 50%; bottom: 50%;
    background: #333;
    transform-origin: bottom;
}

#hours{
    width: 12px; height: 180px;
    background:  whitesmoke
  
}

#minutes{
    width: 10px; height: 230px;
    background:  whitesmoke;
;

}

#seconds{
    width: 4px; height: 250px;
    background:white
}

/*********************Numérique***********************/
.numeriqueClock{
    position: absolute;
    top: 75%;
    left: 50%;
    height: 100vh;
    /* background: ; */
}

#clock2 {
    color: #825814;
    font-size: 6rem;
    letter-spacing: 0.2rem;
    padding: 30px 60px;
    border-radius: 20px;
    /* box-shadow: 0 0 40px #00ffe799; */
    /* backdrop-filter: blur(8px); */
}